.manga-id{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.manga-id-background{
    width: 100%;
    height: 41vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;

}
.manga-id-overlay{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
}

.manga-id-wrapper{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.manga-id__img{
    border-radius: 5px;
    overflow: hidden;
    width: 215px;
    height: 305px;
    flex-shrink: 0;
    z-index: 1;
    margin-right: 30px;
}

.manga-id__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manga-id__content{
    z-index: 1;
 }

.manga-id__content-top{
    margin-bottom: 10px;
    height: 240px;
}
.manga-id__title h1{
    font-size: 40px;
    color: #ffffff;
    line-height: 50px;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
}
.manga-id__content-bottom{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.manga-id__creators-author, .manga-id__creators-artist{
    color: #ffffff;
    font-size: 28px;
}

.manga-id__button{
    margin-right: 40px;
}
.manga-id__manga-stats{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manga-id__manga-stats p{
    font-family: "Poppins", sans-serif;
}
.manga-id__description{
    padding-bottom: 40px;
}