.custom-next, .custom-prev {
    position: relative;
    font-size: 20px;
    background: transparent;
    border: none;
    z-index: 3;
    cursor: pointer;
}

.custom-prev {
    margin-right: 40px;
}

