.orange-button {
    background-color: rgb(255,103,64);
    color: #ffffff;
    border-radius: 5px; /* полностью скруглённая */
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orange-button:hover {
    background-color: rgb(203, 82, 49);
}

.orange-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
