.accentButton {
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orange {
    background-color: rgb(255,103,64);
}

.orange:hover {
    background-color: rgb(203, 82, 49);
}

.orange:disabled,
.disabled{
    background-color: #ccc;
    cursor: not-allowed;
}



